main{
    font-family:'poppins',sans-serif;
    margin: auto;
    width: 1200px;
    text-align: center;
}
.container{
    margin: auto;
    height: 667px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copa-img img{
    width: 560px;
    height: 430px;
}
.copa-text{
    font-size: 50px;
    margin-left: auto;

}
.copa-img{
    margin: 40px;
}
.copa-img:hover{
    transform: translate(50px, 50px) scale(0.6) rotate(45deg);
    transition: width .5s, height 1s, transfrom 4s;
}

.btn{
    text-decoration:none;
    background-color:blueviolet;
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    border: none;
    font-size:20px;
   margin-top: 0;
   width: 200px;
   border-radius: 20px;

}